@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* --------------------------------------------- */
/*!                                               HEADER */
/* --------------------------------------------- */
.header {
    width: 100%;
    height: 15%;
    /* border: 2px solid black; */
    /* background-color: rgba(0, 255, 255, 0.42); */
    /* position: sticky; */
    top:0;
    /* color: white; */
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 1; */

}
.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* z-index: -1; */
    opacity: 0.7;
}


.head h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family: 'Sixtyfour', sans-serif;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    margin-left: 7px;
    background-color: rgb(176, 38, 249);
    z-index: 11;
    height: 35px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover {
    background-color: rgba(85, 16, 32, 0.379);
}

.mute {
    position: fixed;
    top: 10px;
    right: 10px;
    /* z-index: 13; */
}

.mute a {
    display: block;
}

.mute img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mute img:hover {
    opacity: 0.8;
}
.main{
    display: flex
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* z-index: 1; */
    
}
.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.photos img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50px;
    flex-wrap: wrap;

    /* margin: auto; */
    padding: 20px;
}


/* --------------------------------------------- */
/*!                                               MAİN */
/* --------------------------------------------- */



/* --------------------------------------------- */
/*!                                               FOOTER */
/* --------------------------------------------- */

.footer {
    width: 100%;
    height: 8%;
    /* border: 2px solid black; */
    background-color: rgba(149, 195, 58, 0.633);
    text-align: center;
    padding-top: 1rem;
}


.goTopBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(176, 38, 249);
    color: #fff;
    font-size: 24px;
    width: 3%;
    height: 5%;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 9999;
}
.goTopBtn img{
    width: 100%;
    height: 100%;
}

.goTopBtn:hover {
    background-color: #0057b387;
}

/* Sayfa aşağı kaydıkça butonu göster */
/* body.scroll {
    margin-top: 40px;
}

body.scroll .goTopBtn {
    display: block;
} */
