@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./images/Seaons_tree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    filter: blur(5%);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* --------------------------------------------- */
/*!                                               HEADER */
/* --------------------------------------------- */
.header {
    width: 100%;
    height: 15%;
    /* border: 2px solid black; */
    background-color: rgba(0, 255, 255, 0.42);
    position: sticky;
    top:0;
    color: white;
    z-index: 11;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;

}
.header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    opacity: 0.7;
}


.head h1 {
    padding-top: 15px;
    padding-bottom: 7px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family: 'Sixtyfour', sans-serif;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 11; */
}

.links a {
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    margin-left: 7px;
    background-color: rgb(176, 38, 249);
    z-index: 11;
    height: 35px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover {
    background-color: rgba(85, 16, 32, 0.379);
}

.mute {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2222;
}

.mute a {
    display: block;
}

.mute img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

.mute img:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 15;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
  
}

.modal-content img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

/* --------------------------------------------- */
/*!                                               MAİN */
/* --------------------------------------------- */

.main {
    width: 100%;
    height: auto;
}

.seasons-part1,
.seasons-part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 2rem 10rem;
    height: 100%;
}

.seasons-part2{
    margin-top: 9%;
}
.seasons-part1{
    margin-top: 1%;
}
.spring,
.summer,
.autumn,
.winter {
    /* width: 21rem; */
    height: 14.6rem;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: rgba(127, 255, 212, 0.447);
    margin: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px black;
}

.summer-photos,
.autumn-photos,
.spring-photos,
.winter-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
    position: relative;
    cursor: zoom-out;
    
    /* z-index: 1; */
}

.main img {
    border-radius: 15px;
    width: 23rem;
    height: 13rem;
    filter: blur(1px);
    transition: filter 2s ease;
    /* z-index: 1; */

}

.summer-photos .summer-hover-text,
.autumn-photos .autumn-hover-text,
.spring-photos .spring-hover-text,
.winter-photos .winter-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 1s ease;
    /* z-index: 1; */
}

.summer-photos:hover .summer-hover-text,
.autumn-photos:hover .autumn-hover-text,
.spring-photos:hover .spring-hover-text,
.winter-photos:hover .winter-hover-text {
    opacity: 0;
    /* z-index: 14; */
}
/* --------------------------hovers-part--------------------------- */

.spring-photos img:hover, 
.summer-photos img:hover, 
.autumn-photos img:hover, 
.winter-photos img:hover {
    filter: blur(0);
    transition: filter 3.2s ease;
    /* z-index: 14; */
}

/* --------------------------------------------- */
/*!                                               FOOTER */
/* --------------------------------------------- */

.footer {
    width: 100%;
    height: 8%;
    /* border: 2px solid black; */
    background-color: rgba(149, 195, 58, 0.633);
    text-align: center;
    padding-top: 1rem;
}