@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Anta", sans-serif;
}

body {
  background-color: #b2aaaa;
  height: 100vh;
}

.row1 {
  height: 25vh;
  margin-top: 50px;
}
#idValidatorForm {
  position: relative;
  /* display: inline-block; */
    /* border-bottom: 1px dotted black; */
}

#idValidatorForm .tooltiptext {
  visibility: hidden;
  width: 140px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.322);
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  right: 40px;
  top: 50px;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#idValidatorForm:hover .tooltiptext {
  visibility: visible;
}

