@import 'https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap';

* {
  /* border: 3px solid rgb(188, 79, 20); */
}

body {
  margin: 0;
  color: white;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#anabar {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(24, 37, 41, 0.678);
  border: 6px solid rgba(188, 79, 20, 0.732);
  height: 52px;
}

#barlogo {
  margin: 8px;
  text-align: center;
}

#barkonu {
  text-align: center;
  color: rgb(218, 102, 25);
  font-family: 'Rubik Burned', system-ui;
  font-size: 14px;
  padding-bottom: 10px;
}

#barlink {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto 50px auto 6px;
  border-radius: 10px 5px;
}

#barlink a {
  text-decoration: none;
  padding: 16px 16px;
  color: gray;
  border-radius: 10px;
}

#barlink a:hover {
  background-color: rgba(128, 128, 128, 0.181);
  color: darkorange;
  /* margin: 5px; */
  /* padding-top: 30px; */
}

#barlink a.fixed {
  position: fixed;
}

#days {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 98.7%;
  background-color: rgba(24, 37, 41, 0.678);
  color: rgb(218, 102, 25);
  padding: 7px;
  height: 45px;
  margin-top: 15px;
  border: 5px solid rgba(188, 79, 20, 0.732);
}

#days a {
  text-decoration: none;
  padding: 16px 16px;
  color: gray;
}


  

#days a:hover{
  background-color: rgba(128, 128, 128, 0.181);
  color: darkorange;
}