@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Rampart+One&display=swap');

font-family: 'Rampart One', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 113, 120);
    position: relative;
}

.head {
    width: 100%;
    text-align: center;
    font-family: 'bungee shade', system-ui;
    font-size: 30px;
    color: white;
    margin: 1px auto;
    height: 100px;
    padding-bottom: 2%;
    
}

.button {
    width: 35%;
    text-align: center;
    font-family: lemon;
    font-size: 8px;
    position: sticky;
    top: 0;
    margin: auto;
    height: 25px;
    color: rgb(189, 161, 161);
    background-color: rgb(140, 104, 58);
    border: 0.1px solid rgba(255, 255, 255, 0.34);
    padding: 10px 25px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    /* border-color: rgb(140, 104, 58); */
    background: linear-gradient(to top, rgb(140, 104, 58), rgb(80, 113, 120));
    border: none;

}

.button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 4px 20px; 
    font-size: 2.6em;
    height: 23px;
    margin: 0px 2px;
    width: 10%;
}

.button a:hover {
    color: rgb(187, 176, 176);
    background-color: rgba(87, 74, 80, 0.59);
}

.content {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: lemon;
    color: white;
}
.content h2{
    font-size: 45px;
    font-family: rampart one;
    margin: 100px;
    margin-bottom: 250px;
    color: rgb(225, 202, 143);
}
.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.projects p{
    border-bottom: 2px solid white;
    color: white;
    font-size: 34px;
}
.photos{
    text-align: center;
    width: 100%;
}
.photos img{
    width: 10%;
    height: 8%;
    margin: 6px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    background-color: bisque;

}
.photos img:hover{
    background-size: cover;
    background-position: center;
    background-color: rgb(68, 79, 96);
    cursor: pointer;

}
.before-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 420px;
    font-size: 36px;
}

.before-footer a{
    margin-left: 45px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.linkler{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.linkler a{
    margin-left: 45px;
    text-decoration: none;
    color: beige;
    font-size: 1.2rem;
    font-weight: 900;
}

.linkler a:hover{
    color: rgb(255, 0, 0);
}
.linkler i{
    margin-right: 5px;
}

.footer{
    width: 100%;
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    /* border: 3px solid rgb(255, 255, 255); */
    height: 40px;
}
.Form{
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    height: 300px;
    /* border: 3px solid rgb(85, 11, 11); */
}

.Form input{
    margin: 5px;
    width: 60%;
    height: 40px;
    border-radius: 8px;
    position: relative;
}
input::placeholder{
    display: flex;
    text-align: center;
    /* flex-direction: column; */
    align-items: flex-start;
 }

 .submit{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background-color: rgb(140, 104, 58);
    border: none;
    transition: 1.6s;
 }

 .submit:hover{
    background-color: rgb(140, 104, 58);
    cursor: pointer;
    transition: 1.7s;
    color: red;
    -ms-transform: scale(4);
    -webkit-transform: scale(3);
     transform: scale(1.05); 
 }
