*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #928c8c;
}

#inputs{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px black;
    margin-bottom: 30px;
    /* width: 500px; */
    padding: 10px;
    /* border: 5px solid #000000; */
}

input::placeholder{
    text-align: right;
}
#tutar::placeholder {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .inputArea{
        /* width: 400px; */
    }
    
}